.button{
  -fx-cursor: pointer;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-border-color: black;
  -fx-background-color: lavender;
  effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 9, 0, 0, 9);
}

.button:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 5);
    -fx-translate-y: 4px;
}

.contentButton{
  -fx-cursor: pointer;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-background-color: gray;
  -fx-border-color: none;
  effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 9, 0, 0, 9);
}

.contentButton:hover {
    -fx-background-color: blue;
}

.contentButton:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 5);
    -fx-translate-y: 4px;
}